/bin/
/dist/
*.exe
*.out
*.tmp
.DS_Store
/build/
/.engine-build/
/internal/enginebundle/payload/linux-*/
/internal/enginebundle/payload/windows-*/

/artifacts/
.zcodeignore
/cmd/vcflift/vcflift_windows_amd64.syso
